.navbar-light .navbar-brand{
	color: white;
}
.collapse .ml-auto .active .nav-link{
	color: white;
}

.container .fixed-bottom p{
	color: white;
	margin-bottom: 0%;
}
.jumbotron{
	margin-top: 8%;
}
.row{
	padding-left: 5%;
	padding-right: 5%;
}
.row .card{
	width: 100%;
	height: 100%;
}

